.background_style {
    background: radial-gradient(
            55.59% 112.75% at 112.4% 87.72%,
            rgba(0, 194, 255, 0.15) 0%,
            rgba(0, 194, 255, 0) 69.78%
        ),
        radial-gradient(
            67.46% 100% at -1.6% 0%,
            rgba(0, 102, 255, 0.15) 0%,
            rgba(0, 102, 255, 0) 81.2%
        ),
        #021f33;
    min-height: 100vh;
    color: #343434;
    display: flex;
    justify-content: center;
    padding-top: 105px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px 32px;
    gap: 13px;
    width: 410px;
    height: max-content;
    background: #ffffff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
