#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .hideOnDesktop {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .hideOnMobile {
        display: block;
    }
}
